<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
		</root>
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="DSlog\\Info\\"/>
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
      <maximumFileSize value="50MB" />
			<param name= "DatePattern" value= "yyyyMMdd&quot;Infolog.txt&quot;"/>
			<param name="StaticLogFileName" value="false" />
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="[%d]%n%m%n"/>
			</layout>
		</appender>
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File"  value="DSlog\\Error\\"/>
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
      <maximumFileSize value="50MB" />
      <param name= "DatePattern" value= "yyyyMMdd&quot;Errorlog.txt&quot;"/>
			<param name="StaticLogFileName" value="false" />
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="[%d]%n%m%n"/>
			</layout>
		</appender>
		<logger name="Error">
			<level value="ERROR" />
			<appender-ref ref="ErrorAppender" />
		</logger>
		<logger name="Info">
			<level value="INFO" />
			<appender-ref ref="InfoAppender" />
		</logger>
	</log4net>
</configuration>